@import url("./containers.css");
@import url("./numberDivisor.css");
@import url("./util.css");
@import url("./mQuery.css");
@import url("./carrousel.css");
@import url("./footer.css");

h1 {
    font-size: calc(2.8em + 3vw);
}
p{
    font-size: calc(1.7em + 0.3vw);
}
section {
    margin: 30px 0;
}
.hero__img {
    width: 100%;
}


.header__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__text__iconContainer {
    display: flex;
    justify-content: end;
}

.header__text--left {
    text-align: end;
}

.header__text p {
    font-size: 1.7em;
    padding: 0 10px 0 10px;
}

.header__text h1 {
    margin: 0px;
}

.header__text h2 {
    margin: 0px;
}

.header__banner {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header__banner__figure__caption {
    text-align: end;
    color: gray;
    padding-top: 15px;
}

.header__banner__figure {
    margin: 0;
    padding: 5% 0 5% 5%;
    width: 100%;
}

.header__banner__figure__img {
    width: 100%;
}

@media(width<800px) {
    body {
        text-align: center;
    }
    .mainContainer {
        padding: 0;
    }
    .headerContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header__text {
        width: 100%;
    }
    .header__text--left {
        text-align: center;
    }
    .header__banner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .header__banner__figure {
        padding: 0;
    }
    .numberDivider {
        text-align: center;
    }
    .carrousel {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .carrousel__content {
        order: -1;
        overflow-x: scroll;
    }
    .carrousel__banner {
        display: none;
    }
    .arrow {
        display: none;
    }
}